<div class="menu">
  <div class="menu__header">
    <h2 class="menu__header__title">{{ $menu.getHeaderTitle() }}</h2>
  </div>
  <div class="menu__content" ng-if="!$menu.isLoading">
    <menu-item
      available="{{item.available}}"
      name="{{item.name}}"
      description="{{item.description}}"
      price="{{item.price}}"
      popularFlag="{{item.popularFlag}}"
      image="{{item.image}}"
      tags="{{item.tags}}"
      ng-repeat="item in $menu.menu.items track by item.id"
    >
    </menu-item>
  </div>
</div>
